@import "../styles/mixin";


.container {
    max-width: 80rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .some-blank {
        height: 4rem;
    }
}

.section {
    box-sizing: border-box;
    max-width: 46rem;
    margin: 0 auto 1rem;
    padding: 1rem;
    border-radius: 15px;
    color: #fff;
    text-align: center;
    
    // background-color: #e6e6e6;
}