@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font: {
    family: 'Noto Sans KR', sans-serif;
    size: calc(15px + (100vw - 1500px)/400);
  }

  background: {
    image: url("./assets/images/k9-thunder.jpg");
    repeat: no-repeat;
    size: cover;
    position-y: 80%;
  }
}

#root {
  height: 100%;
}